<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-padding">
  <a class="navbar-brand mr-auto" href="#">SAIYAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="fa fa-bell nav-item-link" href="#"></a>
        <span class="badge badge-notify badge-danger">1</span>
      </li>
      <li class="nav-item">
        <a class="fa fa-angellist nav-item-link" href="#"></a>
        <span class="badge badge-notify badge-success">1</span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://pbs.twimg.com/profile_images/833767319973212161/Ft904pMk_400x400.jpg" class="rounded-circle" height="40" width="40">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile settings</a>
          <a class="dropdown-item" href="#">Change password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row" id="body-row">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
      <a href="#submenu-category" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-cubes fa-fw mr-2"></span>
          <span class="menu-collapsed">Category</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu-category' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">New category</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">Category list</span>
        </a>
      </div>
      <a href="#submenu-subcategory" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-cubes fa-fw mr-2"></span>
          <span class="menu-collapsed">Sub category</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu-subcategory' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">New sub category</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">Sub category list</span>
        </a>
      </div>
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-user fa-fw mr-2"></span>
          <span class="menu-collapsed">Admins</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu1' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">New admin</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">Admin list</span>
        </a>
      </div>
      <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-users fa-fw mr-2"></span>
          <span class="menu-collapsed">Users</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <div id='submenu2' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">New user</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="fa fa-angle-double-right fa-fw"></span>
        <span class="menu-collapsed">User list</span>
        </a>
      </div>
      <a href="#" class="bg-dark list-group-item list-group-item-action list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-tasks fa-fw mr-2"></span>
          <span class="menu-collapsed">Tasks</span>
        </div>
      </a>
      <a href="#" class="bg-dark list-group-item list-group-item-action list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-calendar fa-fw mr-2"></span>
          <span class="menu-collapsed">Calendar</span>
        </div>
      </a>
      <a href="#" class="bg-dark list-group-item list-group-item-action list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-question fa-fw mr-2"></span>
          <span class="menu-collapsed">Help</span>
        </div>
      </a>
      <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center list-group-item-custom">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span id="collapse-icon" class="fa fa-angle-double-left fa-fw mr-2"></span>
          <span id="collapse-text" class="menu-collapsed">Collapse</span>
        </div>
      </a>
    </ul>
  </div>
  <div class="col">
      <%= render "shared/flash" %>
    <div class="container">
      <% if content_for?(:page_title) %>
        <div class="content-main-page-header">
          <h2 class="main-page-title"><%= yield(:page_title) %></h2>
          <% if content_for?(:new_element) %>
            <%= link_to "New", yield(:new_element), class: "btn btn-sm btn-primary btn-new-element" %>
          <% end %>
          <% if content_for?(:back_link) %>
            <% back_link_label = content_for?(:back_link_label) ? yield(:back_link_label) : t("layout.header.back_to_list") %>
            <%= link_to back_link_label, yield(:back_link), class: "btn btn-sm btn-primary btn-back-to-list" %>
          <% end %>
        </div><br>
      <% end %>
      <% if content_for?(:sub_title) %>
        <h4 class="sub-page-title"><%= yield(:sub_title) %></h4><br>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
